{% extends 'base.html' %}
{% load filters %}

{% block 'body' %}
<div class="container">

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">{{message}}</div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'add_materiasprimas' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="row">
            <div class="col-md">
                <label>ID Material:</label>
                <input class="form-control" type="text" name="id_material">
            </div>
            <div class="col-md">
                <label>Descrição:</label>
                <input class="form-control" type="text" name="descricao">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <label>Imagens:</label>
                <input class="form-control" type="file" name="imagens" multiple>
            </div>
            <div class="col-md">
                <label>Selecione a categoria do produto</label>
                <select class="form-control" name="categoria">
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.titulo}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md">
                <label>Selecione a fornecedor da materia prima</label>
                <select class="form-control" name="categoria">
                    {% for fornecedor in fornecedores %}
                        <option value="{{fornecedor.id}}">{{fornecedor.razao_social}}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <label>Estoque inicial:</label>
                <input class="form-control" type="number" name="quantidade">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <label>Largura(m):</label>
                <input class="form-control" type="number" name="largura" step="0.01">
            </div>
            <div class="col-md">
                <label>Comprimento(m):</label>
                <input class="form-control" type="number" name="comprimento" step="0.01">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <label>Valor por peça (R$):</label>
                <input class="form-control" type="number" name="valor_peca" step="0.01">
            </div>
            <div class="col-md">
                <label>Valor por m² (R$):</label>
                <input class="form-control" type="number" name="valor_m2" step="0.01">
            </div>
        </div>
        <br>
        <input class="btn btn-success" type="submit" value="Enviar">
    </form>
    <br>
    <hr style="background-color: gray;">
    <form action="{% url 'add_materiasprimas' %}" method="GET">
        <div class="row">
            <div class="col-md">
                <input class="form-control" type="text" name="descricao" placeholder="Descrição...">
            </div>
            <div class="col-md">
                <select class="form-control" name="categoria">
                    <option value="">Todas as categorias</option>
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.titulo}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
            </div>
            <div class="col-md">
                <input class="form-control" type="text" name="id" placeholder="ID...">
            </div>
            <div class="col-md">
                <input type="submit" value="Filtrar" class="btn btn-success">
            </div>
        </div>
    </form>
    <div class="listar_materiasprimas">
        <div class="row"> 
            {% for materiaprima in materiasprimas %}
                <div class="col-md">
                    <div style="background-color: #0f0f0f; width: 18rem" class="card" style="width: 18rem;">
                        {% if materiaprima|get_first_image_mp %}
                            <img width="100%" class="card-img-top" src="{{materiaprima|get_first_image_mp}}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{materiaprima.descricao}}</h5>
                            <span class="badge badge-info">{{materiaprima.categoria}}</span>
                            <br>
                            <br>
                            <a href="{% url 'materiaprima' materiaprima.slug %}" class="btn btn-primary">Acessar</a>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div> 
    </div>
</div>
{% endblock %}