{% extends 'base.html' %}
{% load filters %}

{% block 'body' %}
<div class="container">

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">{{message}}</div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'add_produto' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="row">
            <div class="col-md">
                <label>ID Produto:</label>                
                <input id="id_produto_input" class="form-control" type="text" name="id_produto" maxlength="7" pattern="[A-Za-z0-9]{1,7}" oninput="this.value = this.value.toUpperCase()">
            </div>
            <div class="col-md">
                <label>Nomenclatura:</label>
                <input class="form-control" type="text" name="nomenclatura">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <label>Imagens:</label>
                <input class="form-control" type="file" name="imagens_produto" multiple>
            </div>
            <div class="col-md">
                <label>Categoria do produto</label>
                <select class="form-control" name="categoria">
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.titulo}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md">
                <label>Tipo de madeira</label>
                <select class="form-control" name="tipo_madeira">
                    {% for tipo_madeira in tipos_madeiras %}
                        <option value="{{ tipo_madeira.id }}">{{ tipo_madeira.tipo }}</option>
                    {% endfor %}
                </select>
            </div>            
            <div class="col-md">
                <label>Linha de produto</label>
                <select class="form-control" name="linha_produto">
                    {% for linha in linhas %}
                        <option value="{{ linha.id }}">{{ linha.linha }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>        
        <br>
        <div class="row">
            <div class="col-md">
                <label>Estoque inicial:</label>
                <input class="form-control" type="number" name="quantidade">
            </div>
            <div class="col-md">
                <label>Comprimento (m):</label>
                <input class="form-control" type="number" name="comprimento_M" step="0.01">
            </div>
            <div class="col-md">
                <label>Altura (m):</label>
                <input class="form-control" type="number" name="altura_M" step="0.01">
            </div>
            <div class="col-md">
                <label>Valor por m² (R$):</label>
                <input class="form-control" type="number" name="valor_m2" step="0.01">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <label>Fundo:</label>
                <input class="form-control" type="number" name="fundo" step="0.01">
            </div>
            <div class="col-md">
                <label>Custo MDF:</label>
                <input class="form-control" type="number" name="custo_MDF" step="0.01">
            </div>
            <div class="col-md">
                <label>Tercerização:</label>
                <input class="form-control" type="number" name="tercerizacao" step="0.01">
            </div>
            <div class="col-md">
                <label>Corte:</label>
                <input class="form-control" type="number" name="corte" step="0.01">
            </div>            
        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <label>Montagem:</label>
                <input class="form-control" type="number" name="montagem" step="0.01">
            </div>
            <div class="col-md">
                <label>Lixa:</label>
                <input class="form-control" type="number" name="lixa" step="0.01">
            </div>
            <div class="col-md">
                <label>Acabamento Pintura:</label>
                <input class="form-control" type="number" name="acabamento_pintura" step="0.01">
            </div>
        </div>
        <br>
        <input class="btn btn-success" type="submit" value="Enviar">
    </form>
    <br>
    <hr style="background-color: gray;">
    <form action="{% url 'add_produto' %}" method="GET">
        <div class="row">
            <div class="col-md">
                <input class="form-control" type="text" name="nomenclatura" placeholder="Nomenclatura...">
            </div>
            <div class="col-md">
                <select class="form-control" name="categoria">
                    <option value="">Todas as categorias</option>
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.titulo}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
            </div>
            <div class="col-md">
                <input class="form-control" type="text" name="id" placeholder="ID...">
            </div>
            <div class="col-md">
                <input type="submit" value="Filtrar" class="btn btn-success">
            </div>
        </div>
    </form>
    <div class="listar_produtos">
        <div class="row"> 
            {% for produto in produtos %}
                <div class="col-md">
                    <div style="background-color: #0f0f0f; width: 18rem" class="card" style="width: 18rem;">
                        {% if produto|get_first_image_produto %}
                            <img width="100%" class="card-img-top" src="{{produto|get_first_image_produto}}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{produto.nomenclatura}}</h5>
                            <span class="badge badge-info">{{produto.categoria}}</span>
                            <br>
                            <br>
                            <a href="{% url 'produto' produto.slug %}" class="btn btn-primary">Acessar</a>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div> 
    </div>
</div>
{% endblock %}