.fundo{
    background-color: #121212;
    color: white;
}

.bd-nav{
    background-color: #191919;

}

.bg-hr{
    background-color: gray;
}




.custom-card {
    background-color: #333 !important;;
    color: #fff;
    margin-top: 20px;
}